/*
~/.config/gtk-3.0/gtk.css
User config to override settings in theme files
reduce the title bar height
reduce the menu item padding
*/
stage {
  font-size: 10pt;
}

.header-bar,
.titlebar {
    padding: 1px;
}


.titlebar.default-decoration .button,
.header-bar.default-decoration .button {
    padding: 2px;
}

.menu {
    margin: 2px;
    padding: 1px;
}

.menu .menuitem {
    padding: 2px;
}
